.NavBar {
    overflow: "hidden";
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    color: white;
    height: 50px;
    padding: 24px 24px 0 24px;
    text-align: center;
}

.NavBar > img {
    width: 100px;
    float: left;
}

.NavBar > p {
    margin: 0 5px;
    float: left;  
    font-style: italic;  
}